.MembershipImage{
  /* max-height:1000px; */
  /* opacity:.3; */
  /* position: absolute; */
  padding-top: 3%;
  /* height: 600px; */
  background-size: cover;
  width:100%;
}

.Benefits{
  margin-top: 4%;
}

@media screen and (max-width: 770px){
  // .MembershipMobile{
  //   display: block !important;
  // }
  .MembershipDesktop{
    display: none !important;
  }
}
@media screen and (min-width: 771px){
  .MembershipMobile{
    display: none !important;
  }
  // .MembershipDesktop{
  //   display: block !important;
  // }  
}