$headerFont: 3.2em;

.TheCarsHeader{
    margin-bottom: 10% !important;
    height: 450px;
    background-size: cover;
    width:100%;
    position: relative;
    opacity:80%;
}
.TheCarsPhotoText {
    font-size: $headerFont;
    margin-top: 100px !important;
    opacity: 1 !important;
    z-index: 100;
    font-weight: bold;
    /* position: absolute; */
}

.HeaderRow{
    min-height:500px;
}

.CarDescriptions{
    width: 70% !important;
}

@media screen and (max-width: 549px) {
    .TheCarsPhotoText { 
      font-size: $headerFont;
      margin-top: 50px !important;
    }
    .TheCarsHeader{
      height: 250px;
    }
  }
  
  @media screen and (min-width: 550px) and (max-width: 799px) {
    .TheCarsPhotoText { 
      font-size: $headerFont * 1.5;
    }
  }
  
  @media screen and (min-width: 800px) {
    .TheCarsPhotoText { 
      font-size: $headerFont * 2;
    }
  }